# העתק קובץ זה ל-.env.local ואל תעלה את .env.local ל-git (הוא כבר ב-.gitignore)

VITE_SUPABASE_URL=https://tmrghziqmhrrtyabfhee.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_i_WJpCBApjUw5CLaW89BaQ_tgm-UBvf
